.idea
/.idea/libraries/com_android_support_design_26_1_0.xml
/.idea/libraries/com_android_support_transition_26_1_0.xml
/.idea/libraries/com_github_bumptech_glide_glide_3_7_0_jar.xml
/.idea/libraries/com_android_support_recyclerview_v7_26_1_0.xml
